apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: video-storage-pvc
  labels:
    app: streambox
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 500Gi
  storageClassName: standard
